@import url(https://fonts.googleapis.com/css?family=Orbitron:width@400;500;600;700&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron';
    transition: all 0.4s ease;
}

section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f8ff;
    padding: 0 20px;
}

section.dark {
    background: #24292d;
}

section .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
    max-width: 550px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    position: relative;
}

section .audio {
    position: absolute;
    margin-top: 300px;
    color: #323840;
}

section.dark .audio {
    background: #323840;
}

section.dark .container {
    background: #323840;
}

section .container .icons i {
    position: absolute;
    right: 17px;
    top: 17px;
    height: 30px;
    width: 30px;
    background-color: #24292d;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    font-size: 17px;
    cursor: pointer;
}

section.dark .container .icons i {
    color: #323840;
    background: #f0f8ff;
}

.container .icons i.fa-sun {
    opacity: 0;
    pointer-events: none;

}

section.dark .container .icons i.fa-sun {
    opacity: 1;
    pointer-events: auto;
    font-size: 16px;
}


section .container .time {
    display: flex;
    align-items: center;
}

.container .time .time-colon {
    display: flex;
    align-items: center;
    position: relative;
}

.time .time-colon .am-pm {
    position: absolute;
    top: 0;
    right: -50px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

section.dark .time .time-colon .am-pm {
    color: #fff;
}

.time .time-colon .time-text {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #f0f8ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

section.dark .time .time-colon .time-text {
    background: #24292d;
}

.time .time-colon .time-text,
.time .time-colon .colon {
    font-size: 35px;
    font-weight: 600;
}

section.dark .time .time-text .num,
section.dark .time .colon {
    color: #fff;
}

.time .time-colon .colon {
    font-size: 40px;
    margin: 0 10px;
}

.time .time-colon .time-text .text {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
}

section.dark .time .time-colon .text {
    color: #fff;
}